#title {
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; 
}

.table th {
        background-color: #f8f9fa;
        color: #212529;
        padding: 10px;
        text-align: left;
    }

.table tr {
        border-bottom: 1px solid #dee2e6;
    }

.table tr:nth-child(even) {
            background-color: #e9ecef;
        }

.table td {
        padding: 10px;
    }

.flag-image {
    width: 27px; 
    height: auto; 
}
